.botao {
    cursor:pointer;
    min-width: 10%;
    padding: 13px 20px;
    background: rgb(230, 230, 230);
    font-size: 18px;
    border:none;
    border-radius: 12px;
    color: #444;
}

a.botao {
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor:pointer;
    background: rgb(230, 230, 230);
    font-size: 18px;
    border:none;
    border-radius: 12px;
    min-width:10%;
    padding: 13px 18px;
    color: #444;
    transition: 0.3s;
}

a.botao:hover {
    background: rgb(202, 202, 202);
    color: #444;
}

.botao:hover {
    background: rgb(202, 202, 202);
}

.botao-sm {
    cursor:pointer;
    min-width: 9%;
    padding: 9px;
    background: rgb(230, 230, 230);
    font-size: 14px;
    border:none;
    border-radius: 4px;
    color: #444;
}

a.botao-sm {
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor:pointer;
    background: rgb(230, 230, 230);
    font-size: 14px;
    border:none;
    border-radius: 4px;
    min-width: 9%;
    padding: 9px;
    color: #444;
    transition: 0.3s;
}

a.botao-sm:hover {
    background: rgb(202, 202, 202);
    color: #444;
}

.botao-sm:hover {
    background: rgb(202, 202, 202);
}

.botao-group {
    display:flex;
}

.botao-theme01 {
    background: var(--primary01) !important;
    color: #fff !important;
    transition: 0.3s;
}

.botao-theme01:hover {
    background: var(--primary01Hover) !important;
}

.botao-theme02 {
    background: var(--info) !important;
    color: #fff !important;
    transition: 0.3s;
}

.botao-theme02:hover {
    background: var(--infoHover) !important;
}

.botao-theme03 {
    background: var(--warning) !important;
    color: #fff !important;
    transition: 0.3s;
}

.botao-theme03:hover {
    background: var(--warningHover) !important;
}

.botao-theme04 {
    background: var(--danger) !important;
    color: #fff !important;
    transition: 0.3s;
}

.botao-theme04:hover {
    background: var(--dangerHover) !important;
}

