:root {
    --especial: hsl(165, 100%, 59%);
    --checked: hsl(212, 100%, 59%);
    --background: rgb(224, 241, 233);
    --header:rgb(82, 116, 99);
    --opensidebar: rgb(83, 131, 107);
    --opensidebarHover:rgb(61, 107, 85);
    --sidebar: rgb(94, 148, 122);
    --sidebar-menu:rgb(82, 121, 101);
    --sidebar-menuHover:rgb(46, 73, 59);
    --sidebar-submenu:rgb(66, 97, 81);
    --sidebar-submenuHover:rgb(43, 63, 53);
    --letters: rgb(22, 117, 106);
    --lettersDark: #444;
    --thead1:rgb(31, 163, 146);
    --tbody1: #fff;
    --tbodySelected: rgb(22, 117, 106);
    --tbody1Hover:rgb(245, 245, 245);
    --tbody2: #ececec;
    --panel:rgb(248, 248, 248);
    --border: rgb(31, 143, 130);
    --whiteOrBlack: #fff;
    --blackOrWhite: rgb(0, 0, 0);
    --thead1BorderTh: #fff;
    --primaryOrWhite: rgb(31, 163, 146);
    --primary01:rgb(31, 163, 146);
    --primary01Hover:rgb(25, 129, 115);

    --primary02: rgb(209, 241, 237);
    --primary02Hover: rgb(168, 207, 203);

    --primary03: rgb(31, 143, 130);
    --primary03Hover: rgb(15, 92, 84);

    --primary04: rgb(25, 109, 91);
    --primary04Hover: rgb(15, 63, 53);

    --primary05: rgb(18, 88, 80);
    --primary05Hover: rgb(8, 48, 44);

    --info: rgb(54, 184, 166);
    --infoHover: rgb(44, 151, 137);

    --warning: rgba(252, 151, 0, 0.986);
    --warningHover: rgb(204, 143, 73);
    
    --danger: rgb(218, 65, 86);
    --dangerHover: rgb(184, 53, 71);

    --shadow01:2px 2px 2px 1px rgba(206, 206, 206, 0.2);
    --shadow02:2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

[data-theme="dark"] {
    --especial: hsl(165, 100%, 59%);
    --checked: hsl(212, 100%, 59%);
    --background: rgb(0, 0, 0);
    --header:rgb(43, 43, 43);
    --opensidebar: #444;
    --opensidebarHover: rgb(16, 146, 129);
    --sidebar: rgb(43, 43, 43);
    --sidebar-menu:rgb(16, 146, 129);
    --sidebar-menuHover:rgb(12, 105, 93);
    --sidebar-submenu:rgb(10, 83, 74);
    --sidebar-submenuHover:rgb(18, 27, 25);
    --letters: #fff;
    --lettersDark: #fff;
    --border: #fff;
    --blackOrWhite:#fff;
    --whiteOrBlack: black;
    --primaryOrWhite: #fff;
    --thead1: rgb(16, 146, 129);
    --tbodySelected: hsl(207, 82%, 28%);
    --tbody1: rgb(46, 46, 46);
    --tbody1Hover: rgb(41, 41, 41);
    --tbody2: rgb(32, 32, 32);
    --tbody2Hover: rgb(15, 15, 15);
    --panel: #444;

    --primary01:rgb(24, 129, 115);
    --primary01Hover:rgb(18, 97, 86);

    --primary02: rgb(184, 218, 214);
    --primary02Hover: rgb(133, 172, 168);

    --primary03: rgb(22, 117, 106);
    --primary03Hover: rgb(8, 58, 53);

    --primary04: rgb(16, 77, 63);
    --primary04Hover: rgb(10, 43, 36);

    --primary05: rgb(12, 56, 51);
    --primary05Hover: rgb(4, 27, 25);

    --info: rgb(44, 156, 141);
    --infoHover: rgb(33, 117, 106);

    --warning:  rgba(252, 151, 0, 0.986);

    --warningHover: rgb(189, 110, 20);
    
    --danger: rgb(184, 55, 72);
    --dangerHover: rgb(139, 39, 52);

    --shadow01:2px 2px 2px 1px rgba(206, 206, 206, 0.2);
    --shadow02:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    --shadow03:0px 0px 2px 0px rgba(0, 0, 0, 0.2);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--background) !important;
}

h1 {
    color:var(--letters);
}

h2 {
    color:var(--letters);
}

h3 {
    color:var(--letters);
}

h4 {
    color:var(--letters);
}

h5 {
    color:var(--letters);
}

input[type="text"]{
    border: none;
    box-shadow: 2px 2px 2px 1px var(--shadow02)
}

.checkbox{
    background-color: #fff !important;
    width:14px;
    height:14px;
    appearance: none;
    border-radius: 2px;
    border: 1px solid #444;
    cursor: pointer;
}

.checkbox:hover {
    background-color: #ececec !important;
}

.checkbox:checked {
    border: 1px solid #fff;
    background-color: var(--tbodySelected) !important;
}

.checkbox:after{
    content: "";
    position: absolute;
    display:none;
}

.checkbox:checked:after {
    display:block;
}

.checkbox:after {
    content: "✓";
    font-family: 'FontAwesome';
    font-size: 15px !important;
    color: #fff;
    margin-top: -5px;
}

input[type="number"]{
    border: none;
    box-shadow: 2px 2px 2px 1px var(--shadow02);
}

input[readonly] {
    background-color: rgb(231, 231, 231);
}

select[disabled] {
    background-color: rgb(231, 231, 231);
}

select[readonly]
{
    background-color: rgb(231, 231, 231);
}

label{
    color: var(--letters) !important;
}

span{
    color: var(--letters) !important;
}


.panel {
    background: var(--panel);
    margin-top: 24px;
    margin-right: 24px;
    margin-bottom: 12px;
    margin-left: 69px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 24px;
    border-radius: 18px;
    transition: margin-left 0.5s;
}

.panel-header {
    color: #444;
    width: 100%;
    height: 48px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border);
}

.panel-body {
    margin: 4px;
}
.panel-title {
    color:var(--letters);
    margin-bottom:0;
    font-size: 20px;
}

.criar form div {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.criar form input {
    padding: 6px;
    width: 90%;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.criar form label {
    width: 10%;
    color: var(--primary03);
}

.criar form .checkbox {
    padding: 0;
    width: 30px;
    height: 30px;
    border:none;
    box-shadow: none;
}

.create-success {
    margin: 12px 7px;
    background: var(--primary01);
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}

.create-success h5 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
}

.error-required {
    margin: 12px 7px;
    background: rgb(218, 126, 126);
    padding: 16px;
    text-align: center;
    border-radius: 4px;
}

.error-required h5 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}

.respiro-x {
    margin: 0 6px;
}

.respiro-y {
    margin: 6px 0;
}

.m-left {
    margin-left: 6px;
}

.m-right {
    margin-right: 6px;
}

.m-top {
    margin-top: 6px;
}

.m-bottom {
    margin-bottom: 6px;
}

.input-icon{
    display: inline-block;
    position: relative;
}

.input-icon:after {
    font-size: 14px;
    position: absolute;
    color: var(--primary03);
    font-family: 'FontAwesome';
    content: '\f002';
    right: 13px;
    top:10px;
}

select{
    border: .2px solid var(--primary01);
    border-radius: 4px;
    padding: 6px;
    width: 150px;
}


.search{
    border: .5px solid var(--primary01) !important;
    border-radius: 24px;
    height: 35px;
    padding: 0 12px; 
}

input[type="date"]{
    border: .2px solid var(--primary01);
    padding: 4px 6px 4px 6px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px var(--shadow02)
}

.filters {
    display: flex;
}
.filters button{
    font-size:16px;
    border: none;
    height: 35px;
    padding: 0 10px;
    border-radius: 8px;
    margin-right: 6px;
}

.filters-menu {
    display: none;
    width: 50%;
    border: 1px solid var(--primary01);
    padding: 12px;
    margin: 7px;
}

.filters-menu label{
    color: var(--primary03)
}

#periodo {
    display:flex;
    align-items:center;
}

#periodo div {
    display: flex;
    align-items: center;
}

.filters-menu input{
    width: 150px;
}

.fast-menu {
    display: flex;
}


.fast-menu .botao-group a, .fast-menu .botao-group button{
    width: 40px;
    height: 40px;
    font-size: 18px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    height: 200px;
    border-radius: 10px;
    background-color: #ececec;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;  /* Could be more or less, depending on screen size */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    align-items: center;
    border-bottom: 1px solid var(--primary03);
}

.modal-body {
    text-align: center;
    width: 100%;
    height: 50%;
    margin: 5px 0;
    padding: 20px;
}

.modal-msg {
    color: var(--primary01);
    font-size: 16px;
}

.modal-footer {
    text-align: end;
    width: 100%;
    height: 30%;
}
  
.modal-close {
    color: var(--primary01) !important;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    color: var(--primary01);
    font-size: 18px;
}




