* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color:  rgb(224, 241, 233) !important;
}

header {
    background: rgb(180, 219, 200);
    height: 5.8vh;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.main-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login {
    text-align: center;
    background: rgb(248, 248, 248);
    padding: 24px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.error {
    position: absolute;
    top:20%;
    text-align: center;
    padding: 12px 12px 6px 12px;
    background: rgb(218, 126, 126);
    border-radius: 6px;
    color: #fff;
}

.login form div label {
    margin-top: 12px;
    margin-bottom: 8px;
    font-weight: 600;
    display: block;
    color:rgb(121, 121, 121);
}
.login form div input {
    padding: 8px 24px;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.login form button {
    margin-top: 12px;
    padding: 12px 16px;
    border:none;
    background: rgb(31, 163, 146);
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
}

.menu {
    color: #fff;
    text-align: left;
    padding-left: 16px;
    font-size: 14px;
}

.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(82, 116, 99);
    overflow-x: hidden;
    padding-top: 60px;
}

.sidebar a {
    padding: 0px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar nav ul{
    list-style: none;
    margin-left:0;
    padding-left:0;
}

.sidebar nav ul li{
    color: #fff;
    letter-spacing: .5px;
    cursor: pointer;
    text-align: left;
    background: rgb(66, 97, 81);
}

.sidebar nav ul li:hover{
    background: rgb(36, 58, 47);
}

.sidebar nav ul li a{
    padding: 10px 0 10px 12px;
    font-size: 13px;
    font-weight: 500;
}

.sidebar nav ul li a i {
    padding: 5px 10px 5px 5px;
}

.sidebar-compact {
    top:0;
    left:0;
    position: fixed;
    width: 45px;
    height: 100%;
    background: rgb(82, 116, 99);
}

.openbtn {
    font-size: 1rem;
    cursor: pointer;
    background: rgb(148, 192, 171);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background: rgb(101, 156, 129);
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

.home {
    background: red;
    padding:24px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.panel {
    background: rgb(248, 248, 248);
    margin-top: 24px;
    margin-right: 24px;
    margin-bottom: 12px;
    margin-left: 69px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 24px;
    border-radius: 18px;
    transition: margin-left 0.5s;
}

.panel-header {
    color: #444;
    width: 100%;
    margin: 4px;
    height: 48px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(31, 163, 146)
}

.panel-body {
    margin: 4px;
}
.panel-title {
    color:rgb(31, 163, 146);
    margin-bottom:0;
}
.add {
    padding: 9px 16px;
    font-size: 20px;
    border:none;
    border-radius: 12px;
    background: rgb(227, 236, 235);
    color:rgb(31, 163, 146);
}

.add i {
    color:rgb(31, 163, 146);
}

.add:hover {
    background: rgb(30, 124, 112);
    color: #fff
}

.add:hover i{
    color: #fff
}

.voltar {
    font-size: 20px;
    color:rgb(31, 163, 146);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.voltar:hover {
    color:rgb(31, 163, 146);
}

.voltar i{
    color:rgb(31, 163, 146);
}

.criar form div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 18px;
}

.criar form input {
    padding: 6px;
    width: 90%;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.criar form label {
    color: rgb(31, 163, 146);
}

.salvar {
    margin-top: 12px;
    padding: 7px 16px;
    border:none;
    background: rgb(31, 163, 146);
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
}

.salvar:hover {
    background: rgb(22, 121, 107);
}

.cancelar {
    margin-top: 12px;
    padding: 10px 16px;
    border:none;
    background: rgb(218, 136, 29);
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
    text-decoration: none;
}

.cancelar:hover {
    background: rgb(167, 104, 21);
    color:#fff
}

.remove-escrito {
    margin-top: 12px;
    padding: 10px 16px;
    border:none;
    background: rgb(245, 11, 11);
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
    text-decoration: none;
}

.remove-escrito:hover {
    background: rgb(161, 17, 17);
    color:#fff
}


.create-success {
    margin: 12px 0;
    background: rgb(32, 173, 155);
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}

.create-success h5 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
}

.error-required {
    margin: 12px 0;
    background: rgb(218, 126, 126);
    padding: 16px;
    text-align: center;
    border-radius: 4px;

}

.error-required h5 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}

.panel-actions {
    margin-bottom: 10px;
}

.remove {
    padding: 9px 16px;
    font-size: 20px;
    border:none;
    border-radius: 12px;
    background: rgb(227, 236, 235);
    color:rgb(31, 163, 146);
}

.remove i {
    color:rgb(31, 163, 146);
}

.remove:hover {
    background: rgb(230, 71, 23);
    color: #fff
}

.remove:hover i{
    color: #fff
}

.edit {
    padding: 9px 16px;
    font-size: 20px;
    border:none;
    border-radius: 12px;
    background: rgb(227, 236, 235);
    color:rgb(31, 163, 146);
}

.edit i {
    color:rgb(31, 163, 146);
}

.edit:hover {
    background: rgb(230, 147, 23);
    color: #fff
}

.edit:hover i{
    color: #fff
}
