:root {
    --primary01:rgb(31, 163, 146);
    --primary01Hover:rgb(25, 129, 115);

    --primary02: rgb(209, 241, 237);
    --primary02Hover: rgb(168, 207, 203);

    --primary03: rgb(31, 143, 130);
    --primary03Hover: rgb(15, 92, 84);

    --primary04: rgb(18, 88, 80);
    --primary04Hover: rgb(8, 48, 44);

    --info: rgb(54, 184, 166);
    --infoHover: rgb(44, 151, 137);

    --warning: rgb(226, 160, 84);
    --warningHover: rgb(204, 143, 73);
    
    --danger: rgb(218, 65, 86);
    --dangerHover: rgb(184, 53, 71);

    --shadow01:2px 2px 2px 1px rgba(206, 206, 206, 0.2);
    --shadow02:2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color:  rgb(224, 241, 233) !important;
}

input[type="text"]{
    border: none;
    box-shadow: 2px 2px 2px 1px var(--shadow02)
}

input[type="number"]{
    border: none;
    box-shadow: 2px 2px 2px 1px var(--shadow02)
}

.input-icon{
    display: inline-block;
    position: relative;
}

.input-icon:after {
    font-size: 14px;
    position: absolute;
    color: var(--primary03);
    font-family: 'FontAwesome';
    content: '\f002';
    right: 13px;
    top:8px;
}

input[type="search"]{
    border: .2px solid var(--primary01);
    border-radius: 24px;
    height: 35px;
    padding: 0 12px;
}

input[readonly] {
    background-color: rgb(231, 231, 231);
}
.error {
    position: absolute;
    top:20%;
    text-align: center;
    padding: 12px 12px 6px 12px;
    background: rgb(218, 126, 126);
    border-radius: 6px;
    color: #fff;
}


.menu {
    color: #fff;
    text-align: left;
    padding-left: 16px;
    font-size: 14px;
}

.home {
    background: red;
    padding:24px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.panel {
    background: rgb(248, 248, 248);
    margin-top: 24px;
    margin-right: 24px;
    margin-bottom: 12px;
    margin-left: 69px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 24px;
    border-radius: 18px;
    transition: margin-left 0.5s;
}

.panel-header {
    color: #444;
    width: 100%;
    height: 48px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(31, 163, 146)
}

.panel-body {
    margin: 4px;
}
.panel-title {
    color:rgb(31, 163, 146);
    margin-bottom:0;
}


.criar form div {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.criar form input {
    padding: 6px;
    width: 90%;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.criar form label {
    width: 10%;
    color: rgb(31, 163, 146);
}

.criar form .checkbox {
    padding: 0;
    width: 30px;
    height: 30px;
    border:none;
    box-shadow: none;
}

.create-success {
    margin: 12px 0;
    background: rgb(32, 173, 155);
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}

.create-success h5 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
}

.error-required {
    margin: 12px 0;
    background: rgb(218, 126, 126);
    padding: 16px;
    text-align: center;
    border-radius: 4px;

}

.error-required h5 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}

.panel-actions {
    margin-bottom: 10px;
}

.respiro-x {
    margin: 0 6px;
}

.respiro-y {
    margin: 6px 0;
}

.m-left {
    margin-left: 6px;
}

.m-right {
    margin-right: 6px;
}

.m-top {
    margin-top: 6px;
}

.m-bottom {
    margin-bottom: 6px;
}

.carrosel {

}

.carrosel ul > li{
    display: inline-block;
}


