@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}


@media screen and (max-width: 520px) {
    .table01 tbody tr td:nth-child(3) {
        border-right: none;
    }
    .table01 thead tr th:nth-child(3) {
        border-right: none;
    }
    .table02 tbody tr td:nth-child(3) {
        border-right: none;
    }
    .table02 thead tr th:nth-child(3) {
        border-right: none;
    }

}

@media screen and (max-width: 570px) {
    .panel-header {
        height: 100%;
        display: block;
    }

    .filters {
        width: 100%;
    }

    .search {
        width: 140px !important;
    }

    input[type="search"]{
        width: 100%;
    }

    .criar form div:not(:last-child) {
        display: block;
    }

    .criar form input {
        width: 100% !important;
    }
    .criar form label {
        width: 100% !important;
    }
}



@media screen and (max-width: 630px) {
    .table01 tbody tr td:nth-child(4) {
        border-right: none;
    }
    .table01 thead tr th:nth-child(4) {
        border-right: none;
    }
    .table02 tbody tr td:nth-child(4) {
        border-right: none;
    }
    .table02 thead tr th:nth-child(4) {
        border-right: none;
    }

    
}



@media screen and (max-width: 730px) {
    .filters-menu div{
        display: block !important;
    }

    .filters-menu label{
        width: 30%;
    }
    .filters-menu input[type='text']{
        width: 100%;
    }

    .filters-menu select{
        width: 100%;
    }
    .table01 tbody tr td:nth-child(5) {
        border-right: none;
    }
    .table01 thead tr th:nth-child(5) {
        border-right: none;
    }
    .table02 tbody tr td:nth-child(5) {
        border-right: none;
    }
    .table02 thead tr th:nth-child(5) {
        border-right: none;
    }

    div.mesas ul{
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
    
}

@media screen and (max-width: 780px) {
    .mesas ul{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
    }

    .mesas {
        display: block !important;
    }
}

@media screen and (max-width: 800px) {
    .table-header {
        display: block;
        flex-direction: column;
    }
    .fast-menu{
        margin-top: 6px;
    }

}

@media screen and (max-width: 920px) {
    .filters-menu input[type="date"] {
        width: 112px !important;
    }
    .modal-content {
        width: 60% !important;
    }
    .filters-menu {
        width: 100%;
    }

    .filters-menu label{
        width: 100%;
    }

    .filters-menu input{
        width: 100%;
    }

    .filters-menu select{
        width: 100%;
    }
}

@media screen and (max-width:980px) {
    .criar form input {
        width: 70%;
    }
    
    .criar form label {
        width: 30%;
    }
}

@media screen and (max-width:1080px) {
    #periodo {
        display: block;
    }
    #periodo div {
        margin-top: 4px
    }
}


@media screen and (max-width: 1300px) {
    .ipt-group {
        display:block;
    }
    .filters-menu input[type="date"] {
        width: 125px !important;
    }
    .filters-menu {
        width: 60%;
        margin: 12px 0;
    }
}

@media screen and (max-height: 500px) {
    .logout {
        position: relative
    }
}






