@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}


@media screen and (max-width: 520px) {
    .table01 tbody tr td:nth-child(3) {
        border-right: none;
    }
    .table01 thead tr th:nth-child(3) {
        border-right: none;
    }
    .table02 tbody tr td:nth-child(3) {
        border-right: none;
    }
    .table02 thead tr th:nth-child(3) {
        border-right: none;
    }


    .filters-menu div{
        display: block;
    }

    .filters-menu label{
        width: 30%;
    }

    .filters-menu input{
        width: 100%;
    }

    .filters-menu select{
        width: 100%;
    }

}

@media screen and (max-width: 570px) {
    .panel-header {
        height: 100%;
        display: block;
    }

    input[type="search"]{
        width: 100%;
    }

    .criar form div:not(:last-child) {
        display: block;
    }

    .criar form input {
        width: 100% !important;
    }
    .criar form label {
        width: 100% !important;
    }
}



@media screen and (max-width: 630px) {
    .table01 tbody tr td:nth-child(4) {
        border-right: none;
    }
    .table01 thead tr th:nth-child(4) {
        border-right: none;
    }
    .table02 tbody tr td:nth-child(4) {
        border-right: none;
    }
    .table02 thead tr th:nth-child(4) {
        border-right: none;
    }

    
}


@media screen and (max-width: 730px) {
    .table01 tbody tr td:nth-child(5) {
        border-right: none;
    }
    .table01 thead tr th:nth-child(5) {
        border-right: none;
    }
    .table02 tbody tr td:nth-child(5) {
        border-right: none;
    }
    .table02 thead tr th:nth-child(5) {
        border-right: none;
    }

    .fast-menu {
        display: block
    }

    #expand-mais-fast-menu {
        display:none
    }

    .mais-fast-menu-buttons {
        margin-bottom: 4px
    }


}



@media screen and (max-width: 920px) {
    .filters-menu {
        width: 100%;
        margin: 12px 0;
    }

    .filters-menu label{
        width: 100%;
    }

    .filters-menu input{
        width: 100%;
    }

    .filters-menu select{
        width: 100%;
    }

}
@media screen and (max-width:980px) {
    .table-header {
        display: block;
        flex-direction: column;
    }

    .fast-menu {
        margin-top:10px;
    }

    .criar form input {
        width: 70%;
    }
    
    .criar form label {
        width: 30%;
    }
}


@media screen and (max-width: 1300px) {
    .ipt-group {
        display:block;
    }
}

@media screen and (max-height: 500px) {
    .logout {
        position: relative
    }
}






